<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% capture page_title -%}
    {%- if page.title -%}
      {{ page.title }} – {{ app.name }}
    {%- else -%}
      {{ app.name }} – The best and brightest new media professionals in the DC metro area
    {%- endif -%}
  {% endcapture -%}

  <title>{{ page_title }}</title>

  <link rel="stylesheet" href="/assets/stylesheets/application.css">

  <link rel="preload" href="/assets/stylesheets/application.css" as="style">

  <link rel="apple-touch-icon" href="{{ app.icons[0].src }}">
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="shortcut icon" href="{{ app.icons[0].src }}">

  <meta name="apple-mobile-web-app-title" content="{{ app.name }}">
  <meta name="application-name" content="{{ app.name }}">
  <meta name="description" content="{{ app.description }}">
  <meta name="theme-color" content="{{ app.theme_color }}">

  <meta property="og:description" content="{{ app.description }}">
  <meta property="og:image" content="{{ app.start_url }}{{ app.icons[0].src }}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:url" content="{{ app.start_url }}{{ page.url }}">
</head>
<body>

  <div class="global-wrapper">
    <header class="global-header" role="banner">
      <h1><a href="/" class="h-card" rel="home">{{ app.name }}</a></h1>
    </header>

    <main class="global-content" role="main">
      {{ content }}
    </main>

    <footer class="global-footer" role="contentinfo">
      <small>Some rights reserved. This site’s content is licensed under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</a>. Source code available on <a href="{{ pkg.repository.url }}" rel="source">GitHub</a>.</small>
    </footer>
  </div>

</body>
</html>
