<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">

  {% capture page_title -%}
    {%- if page.title -%}
      {{ page.title }} – {{ site.title }}
    {%- else -%}
      {{ site.title }} – {{ site.short_description}}
    {%- endif -%}
  {% endcapture -%}

  <title>{{ page_title }}</title>

  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  <meta name="application-name" content="{{ site.title }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@refreshdc">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ site.url }}/assets/images/refreshdc.png">
  <meta property="og:title" content="{{ page_title }}">

  <link rel="apple-touch-icon" href="/assets/images/refreshdc.png">
  <link rel="shortcut icon" href="/assets/images/refreshdc.png">
  <link rel="stylesheet" href="/assets/stylesheets/application.css">
</head>
<body>

  <div class="global-wrapper">
    <header class="global-header" role="banner">
      <h1><a href="/" class="h-card" rel="home">{{ site.title }}</a></h1>
    </header>

    <main class="global-content" role="main">
      {{ content }}
    </main>

    <footer class="global-footer" role="contentinfo">
      <small>Some rights reserved. This site’s content is licensed under a <a href="{{ site.license.url }}" rel="license">{{ site.license.name }} license</a>. Source code available on <a href="{{ site.source.url }}" rel="source">{{ site.source.name }}</a>.</small>
    </footer>
  </div>

</body>
</html>
