---
layout: base
---

<div class="event h-event">
  <h1 class="p-name"><a href="{{ page.url | prettify }}" class="u-url">{{ title }}</a></h1>

  <div class="p-description">
    {{ content }}
  </div>

  <dl>
    <dt>Date and Time</dt>
    <dd>
      <time class="dt-start" datetime="{{ dtstart | datetime_to_iso_string }}">{{ dtstart | datetime_to_string }} from {{ dtstart | date: "%l:%M %p" }}</time> to
      <time class="dt-end" datetime="{{ dtend | datetime_to_iso_string }}">{{ dtend | date: "%l:%M %p" }}</time>
    </dd>

    <dt>Location</dt>
    <dd class="p-location h-card">
      {% assign venue = venues[venue] -%}

      <a href="{{ venue.url }}" class="p-name u-url">{{ venue.name }}</a><br>
      <span class="p-adr h-adr">{{ venue.address }}</span>
    </dd>

    {% if speakers.size -%}
      <dt>Speaker(s)</dt>
      {% for speaker in speakers -%}
        {% assign person = people[speaker] -%}

        <dd><a href="{{ person.url }}" class="h-card">{{ person.name }}</a></dd>
      {% endfor -%}
    {% endif -%}

    <dt><abbr lang="fr" title="Répondez s'il vous plaît">RSVP</abbr></dt>
    <dd><a href="{{ rsvp.url }}" class="u-syndication">{{ rsvp.name }}</a></dd>
  </dl>
</div>
