---
layout: base
title: Events
---

<h1>{{ title }}</h1>

<ol class="events-list" reversed>
  {% for event in collections.event reversed %}
    <li class="h-event">
      <a href="{{ event.url | prettify }}" class="p-name u-url">{{ event.data.title }}</a>
      <time class="dt-start" datetime="{{ event.data.dtstart | datetime_to_iso_string }}">{{ event.data.dtstart | datetime_to_string }}</time>
    </li>
  {% endfor -%}
</ol>
